p {
	max-width: 500px;
	font-size: 1rem;
	font-family: 'Nunito', sans-serif;
	color: #4A4A4A;
}

body {
	font-family: 'Nunito', sans-serif;
	
}
h1 {
	font-size: 2.4rem;
	font-weight: 500;
	color: #4A4A4A;
}

.white-text h1, .white-text p {
	color: white;
	text-shadow: 0 0 4px #666;
}


@media screen and (min-width: 100px){
  html{
    font-size: 14px;
  }
}
@media screen and (min-width: 570px){
  html{
    font-size: 16px;
  }
}
@media screen and (min-width: 620px){
  html{
    font-size: 17px;
  }
}
@media screen and (min-width: 680px){
  html{
    font-size: 18px;
  }